@use "../abstracts";
html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(17%) saturate(2105%) hue-rotate(210deg) brightness(94%)
    contrast(96%);
  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-seperate: #ededf6;
  @include abstracts.breakpoint(lg) {
    --header-bg-color: #fff;
  }
}
